# legacy-peer-deps=true
# auto-install-peers=true
# strict-peer-dependencies=false


registry=https://registry.npmjs.org/

# npm config set registry http://registry.npmjs.org/
# npm config set registry https://registry.npmjs.org/
# npm config set strict-ssl false
# npm config set cafile <caminho-para-certificado>
