.header {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 1rem 0;


  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-right: 20px;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
       /* Needed for the dropdown */
      position: relative;
      margin: 0 1rem;

      &:hover > ul {
        display: block;
      }

      a {
        color: var(--primary);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: var(--tertiary);
          text-decoration: underline;
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--secondary);
        display: none;
        list-style: none;
        padding: 0.5rem 0;

        li {
          margin: 0;
          padding: 0.5rem 1rem;

          a {
            color: var(--primary);
            text-decoration: none;

            &:hover {
              color: var(--primary-dark);
            }
          }
        }
      }
    }
  }

  .divItems {
    margin-left: 40px;
    min-width: 50%;
  }
}
