@import './Palette.module.scss';

@mixin light-theme {
  --black : #{$common_black};
  --white : #{$common_white};
  --primary : #{$primary_light};
  --secondary : #{$secondary_light};
  --tertiary : #{$tertiary_light};
  --success : #{$success_light};
  --error : #{$error_light};
  --warning : #{$warning_light};
  --info : #{$info_light};
}

@mixin dark-theme {
  --black : #{$common_black};
  --white : #{$common_white};
  --primary : #{$primary_dark};
  --secondary : #{$secondary_dark};
  --tertiary : #{$tertiary_dark};
  --success : #{$success_dark};
  --error : #{$error_dark};
  --warning : #{$warning_dark};
  --info : #{$info_dark};
}
